.HomeDiv { 
    background-color: #545870;
    min-height: 400px;

}

.profilePic{
    margin-bottom: 40px;
    max-width: 600px;
}


/* typewriter effect */
.typewriter h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid violet; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    
    
    animation: 
      typing 2s steps(20, end),
      blink-caret .75s step-end infinite;
    }
.typewriter{
    display: inline-flex;
    }
  
  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: greenyellow; }
}

/* Icon containers etc */
.icon-container{
    background-color: #29293b;
    border-radius: 10px;
}



.icon-item {
    transition: all 0.15s ease-in-out;
}

.icon-item:hover {
    transform: scale(1.1); 
    color: greenyellow;
}

/* Hero screenshot images */
.imageSS{
    transition: all 0.15s ease-in-out;
}

.imageSS:hover{
    transform: rotate(1deg);
}

/* HERO section */
.heroOne{
    padding-top: 50px;
    padding-bottom: 50px;
    height: 600px;
  }


/* button hover overrides */
.greenBtn:hover {
    background-color: greenyellow;
    border-color: greenyellow;
}
