/* Hero screenshot images */
.imageSS{
    transition: all 0.15s ease-in-out;
    max-width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imageSS:hover{
    transform: rotate(1deg);
}

/* HERO section */
.heroOne{
    padding-top: 50px;
    padding-bottom: 50px;
    height: 600px;
  }


/* /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .introText br {
        display: none;
    }
    .introText {
        padding-left: 50px;
        padding-right: 50px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .introText br {
        display: none;
    }

    .introText {
        padding-left: 20px;
        padding-right: 20px;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .introText br {
        display: none;
    }

    .introText {
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .introText br {
        display: none;
    }
    .introText {
        padding-left: 0px;
        padding-right: 0px;
      }
}

@media only screen and (min-width: 1200px) {
    .introText br {
        display: inline;
    }
    .introText {
        padding-left: 0px;
        padding-right: 0px;
      }
}
@media only screen and (min-width: 1400px) {
    .HeroLeftDetails{
        padding-left: 100px;
    }
    .introText {
        padding-left: 0px;
        padding-right: 0px;
      }
}